{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
	<div class="container">
		<h1 class="text-center"> Compte créé avec succès </h1>
	</div>
{% endblock %}
