{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <div class="container fondblanc">
        <h1 class="title"><a class="title1">Création d'un</a><a class="title2">compte</a></h1>
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
{% endblock body %}
