body{
    background-color: #EAEAEA;
}



/*NAVBAR*/


.navbar {
    background: #2D2D2D;
    border-radius: 0;
    border: none;
}

.navbar .navbar-nav > li > a,
.dropdown-menu > li > a {
    color: #fff;
    font-size: 1.1em;
}

.navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #191919;
}


.navbar .navbar-nav > li > a:link,
.navbar .navbar-nav > li > a:visited
 {
    background-color: #2D2D2D;
    color: #fff;
}

.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > .active > a {
    background-color: #3A3A3A;
    color: #fff;
}







/*FOND*/
.fondblanc {
    background-color: #fff;
    margin-top: 50px;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 620px;
    border-bottom: 10px solid #2D2D2D;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.fondgris{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    padding-top: 40px;
    max-width: 500px;
    background-color: #F8F8F8;
    border: 5px solid #EAEAEA;
    margin-top: 40px;
}

.fondgris1{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    padding-top: 40px;
    max-width: 900px;
    background-color: #F8F8F8;
    border: 5px solid #EAEAEA;
}

.title{
    text-align: center;
}

.title1,
.title1:link,
.title1:visited,
.title1:focus,
.title1:hover
{
    color: #fff;
    background-color: #2D2D2D;
    padding:5px 10px;
    text-decoration: none;
}


.title2,
.title2:link,
.title2:visited,
.title2:focus,
.title2:hover
{
    color: #2D2D2D;
    border: 4px solid #2D2D2D;
    padding: 1px 10px;
    text-decoration: none;

}

.input-sm{
    border-radius: 0;
}

.bouton,
.bouton:link,
.bouton:visited,
.bouton:focus,
.bouton:hover
{
    background-color: #2980b9;
    color: #fff;
    padding: 10px 25px;
    font-size: 1.2em;
    margin-top: 10px;
    border:none;
}



.bouton-success,
.bouton-success:link,
.bouton-success:visited,
.bouton-success:focus,
.bouton-success:hover
{
    background-color: #2980b9;
    color: #fff;
    padding: 10px 25px;
    font-size: 1.2em;
    margin-top: 10px;
    border:none;
}




/*PAGE VIEWER*/
.infosBlock{
    background-color: #F8F8F8;
    border-top:8px solid #000;
    margin-top: 20px;
    padding-top:25px;
    height: 100vh;
}

.titleViewerNoir{
    background-color: #000;
    border:4px solid #000;
    color: #fff;
    padding:4px;
}

.titleViewerBlanc{
    background-color: #fff;
    color: #000;
    border:4px solid #000;
    padding:4px;
}

.infosViewer{
    background-color: #F8F8F8;
    border:none;
}

.infosTitleViewer{
    margin:0;
    color: #000;
    font-weight: bold;
}

.infosTextViewer{
    padding:0;
    margin:0;
}



/*PAGE UPLOAD*/

.btn1,
.btn1:link,
.btn1:visited,
.btn1:focus,
.btn1:hover{
    background-color: #178A58;
    color: #fff;
    padding: 10px 25px;
    font-size: 1.2em;
    margin-top: 10px;
    border:none;
}

.btnAjout,
.btnAjout:link,
.btnAjout:visited,
.btnAjout:focus,
.btnAjout:hover{
    background-color: #178A58;
    color: #fff;
    font-size: 1.2em;
    margin-top: 10px;
    margin-right: 10px;
    border:none;
    padding: 10px 23px;
}

.btn2,
.btn2:link,
.btn2:visited,
.btn2:focus,
.btn2:hover{
    background-color: #8A1717;
    color: #fff;
    padding: 10px 25px;
    font-size: 1.2em;
    margin-top: 10px;
    border:none;
}

.progress-bar{
    background-color:  #178A58;
}

/*---------*/

.faces{
    position: fixed;
    left:20px;
    bottom:30px;
}

.left{
    height:55px;
    margin-left:40px;
    margin-right:-5px;
    margin-top:21px;
}

.face{
    height:55px;
    margin-right:-5px;
    margin-top:20px;
}

.right{
    height:55px;
    margin-top:21px;
}

/*---------*/

.max{
    position: fixed;
    width:50px;
    bottom:166px;
    left:20px;
}

.double{
    position: fixed;
    width:50px;
    bottom:129px;
    left:20px;
}

.mand{
    position: fixed;
    width:50px;
    bottom:90px;
    left:20px;
}












