{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Ajout de fichiers 3D</h1>
            <h3 class="text-center"><small>Vous pouvez déposer vos fichiers n'importe où sur la page pour les ajouter au formulaire</small></h3>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form method="POST" action="{{ path('send_viewer') }}">
                    <div class="form-group">
                        <label class="text-center" for="ref-patient">Référence patient</label>
                        <input class="form-control" id="ref-patient" name="ref-patient"/>
                    </div>
                    <div class="form-group">
                        <label class="text-center" for="nom-patient">Nom patient</label>
                        <input class="form-control" id="nom-patient" name="nom-patient"/>
                    </div>
                    <div class="text-center alert" style="display:none;">
                    </div>
                    <div id="actions" class="row">
                        <div class="col-lg-12">
                            <!-- The fileinput-button span is used to style the file input field as button -->
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Ajouter des fichiers...</span>
                            </span>
                            <button type="button" style="display:none;" class="btn btn-primary start">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Envoyer les fichiers</span>
                            </button>
                        </div>

                    </div>

                    <div class="table table-striped files" id="previews">
                        <div id="template" class="file-row">
                            <!-- This is used as the file preview template -->
                            <div>
                                <span class="preview"><img data-dz-thumbnail /></span>
                            </div>
                            <div>
                                <p class="name" data-dz-name></p>
                                <strong class="error text-danger" data-dz-errormessage></strong>
                            </div>
                            <div>
                                <p class="size" data-dz-size></p>
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                </div>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary start">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Envoyer</span>
                                </button>
                                <button type="button" data-dz-remove class="btn btn-warning cancel">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Annuler</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <input class="btn center-block btn-default" type="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{{ asset('bundles/viewer/js/dropzone.js')}}"></script>
    <script>
        $( document ).ready(function() {
            // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
            var previewNode = document.querySelector("#template");
            previewNode.id = "";
            var previewTemplate = previewNode.parentNode.innerHTML;
            previewNode.parentNode.removeChild(previewNode);
            var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
                url: "{{ oneup_uploader_endpoint('documents') }}", // Set the url
                thumbnailWidth: 80,
                thumbnailHeight: 80,
                parallelUploads: 20,
                previewTemplate: previewTemplate,
                autoQueue: false, // Make sure the files aren't queued until manually added
                previewsContainer: "#previews", // Define the container to display the previews
                clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
            });
            myDropzone.on("addedfile", function(file) {
                // Hookup the start button
                file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file); };
                $('#actions .start').show();
            });
            myDropzone.on("sending", function(file) {
                // And disable the start button
                file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
            });
            myDropzone.on("success", function(file) {
                file.previewElement.querySelector(".progress").setAttribute("class", "progress active");
            });
            // Setup the buttons for all transfers
            // The "add files" button doesn't need to be setup because the config
            // `clickable` has already been specified.
            document.querySelector("#actions .start").onclick = function() {
                myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
            };
            document.querySelector("#actions .cancel").onclick = function() {
                myDropzone.removeAllFiles(true);
            };

            myDropzone.on('success', function(file, response) {
                $('.alert').addClass('alert-success');
                $('.alert').text('Le fichier '+file.name+' a été ajouté avec succès');
                $('.alert').show();
            });
            myDropzone.on('canceled', function(file, response) {
                $('.alert').addClass('alert-warning');
                $('.alert').text('L\'envoi du fichier '+file.name+' a été annulé');
                $('.alert').show();
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        html, body {
            height: 100%;
        }
        #actions {
            margin: 2em 0;
        }
        /* Mimic table appearance */
        div.table {
            display: table;
        }
        div.table .file-row {
            display: table-row;
        }
        div.table .file-row > div {
            display: table-cell;
            vertical-align: top;
            border-top: 1px solid #ddd;
            padding: 8px;
        }
        div.table .file-row:nth-child(odd) {
            background: #f9f9f9;
        }
        /* Hide the progress bar when finished */
        #previews .file-row.dz-success .progress {
            opacity: 0;
            transition: opacity 0.3s linear;
        }
        /* Hide the delete button initially */
        #previews .file-row .delete {
            display: none;
        }
        /* Hide the start and cancel buttons and show the delete button */
        #previews .file-row.dz-success .start,
        #previews .file-row.dz-success .cancel {
            display: none;
        }
        #previews .file-row.dz-success .delete {
            display: block;
        }
    </style>
{% endblock %}